.vs/
ipch/

*.suo
*.user
*.sdf
*.opensdf
*.db
*.opendb
*.VC.db
*.VC.VC.opendb
*.log

Debug/
Release/
x64/
x86/
Logs/
Azul/

Neelam/NeelamEditor/bin/
Neelam/NeelamEditor/obj/
Neelam/NeelamEngine/obj/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vcxitems
*.vcxitems.filters
*.vcxitems.user
*.csproj.user
